{% extends 'base.html' %}
{% block title %}Edit Article{% endblock %}

{% block content %}
<a class="mt-5 position-absolute" href="{% url 'article_detail' article.id %}">← back</a>
<div class="container pt-5 text-center">
    <div class="card mx-xl-5 bg-transparent border-0">
        <div class="card-body">
            <form method="post" action="{% url 'edit_article' article.id %}">
                {% csrf_token %}
                <label for="title" name="title" class="text-center mt-3">TITLE</label>
                <br>
                {{ art_form.title }}
                <br>
                <label for="content" name="content" class="text-center mt-3">CONTENT</label>
                <br>
                {{ art_form.content }}
                <div class="text-center mt-3">
                    <button type="submit" class="btn-outline-info rounded">EDIT</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}