{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- {% block title %}
All Cities
{% endblock %} -->

<!-- <h1>City Index Page</h1> -->

<div class="search jumbotron-fluid">
  <div class="search-content row">
    <div class="search-bar-container col-sm-12 col-md-12">

    </div>
  </div>
</div>

<p>Articles</p>

  <ul>
    {% for article in articles %}
	  <a href="{% url 'article_detail' article.id %}">
	    <li>{{ article }}</li>
	  </a>
	{% empty %}
	    <li>No articles have been added yet.</li>
	{% endfor %}
  </ul>

{% endblock %}