{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- {% block title %}
All Cities
{% endblock %} -->

<!-- <h1>City Index Page</h1> -->

<div class="search jumbotron-fluid mt-5">
	<div id="carouselExampleIndicators" class="carousel slide my-carousel my-carousel" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
		  <div class="carousel-item active" style="background-image: url('https://i.imgur.com/NnzxG4S.jpg')">
	
		  </div>
			<div class="carousel-item " style="background-image: url('https://i.imgur.com/w439mEw.jpg')">
	
		  </div>
		  <div class="carousel-item " style="background-image: url('https://i.imgur.com/cpIrOo1.jpg')">
	
		  </div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>
	</div>
</div>

<p>Articles</p>

  <ul>
    {% for article in articles %}
	  <a href="{% url 'article_detail' article.id %}">
	    <li>{{ article }}</li>
	  </a>
	{% empty %}
	    <li>No articles have been added yet.</li>
	{% endfor %}
  </ul>

{% endblock %}