{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron-fluid">
  <div class="cityName">
      <h2 class="text-light">{{ city.name }}</h2>
  </div>
  <div class="jumbo-img-container">
    <img src="{% static 'images/cities/chicago.jpg' %}">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-4">
        <span>
          {% for article in city.article_set.all %}
          <a href="{% url 'article_detail' article.id %}">
            <ul>
              {{ article }}
            </ul>
          </a>
          {% endfor %}
        </span>
    
      </div>
      <div class="col-xl-8">
        <a href="{% url 'article_add' city.id %}" class="btn">Add Post</a>
      </div>
    </div>
  </div>
</div>

{% endblock %} 
