{% extends 'city-base.html' %}
{% load static %}

{% block content %}

<!-- <h1>City Index Page</h1> -->

<div class="search jumbotron-fluid">
  <div class="search-content row">
    <h3 class="search-header text-light text-uppercase">discover your next destination</h3>
    <h3 class="search-header text-light text-uppercase">and start your journey today</h3>
        <div class="row w-50 justify-content-center">
          <div class="col-sm-8">
            <div class="form-group">
              <form class="city-search-form" novalidate>
                <select id="locations" data-test="homepage-header-search-form-input" data-live-search="true" class="selectpicker form-control">
                  <option value="" disabled selected>-- Search Your Destination --</option>
                  <option>USA</option>
                  {% comment %} 
                  {% for location in locations %}
                  <option value="{{ location.id }}"> {{location.location_name}}</option>
                  {% endfor %}
                  {% endcomment %}
                </select>
                <input type="button" id="search-button" class="btn-outline-info mt-2 btn-sm" value="Discover!">
              </form>
            </div>
          </div>
        </div>
        <!-- <form class="needs-validation" novalidate>
          <select class="mdb-select validate md-form" searchable="Search here..">
            <option value="" disabled selected>-- Search Your Destination -- </option>
            <option value="1">USA</option>
          </select>
          <button class="btn-outline-info btn-sm">Submit</button>
        </form> -->
    <span class="scroll-indicator"><a class="text-light text-uppercase" href="#wrapper"><h5>SCROLL</h5></a></span>
    <span class="material-icons scroll-arrow">keyboard_arrow_down</span>
  </div>
</div>

<div class="city-wrapper wrapper" id="wrapper">
  <div class="exploreGrid container-fluid">
    <h1 class="search-span text-uppercase">Browse By Popular Destinations</h1>
    <div class="cityRow row">
      <div class="cityCard column">
        <a href="#">
          <img alt="australia" src="{% static 'images/cities/australia.jpg' %}">
          <h3 class="cityCardName text-uppercase">australia</h3>
        </a>
        <a href="#">
          <img alt="greece" src="{% static 'images/cities/greece.jpg' %}">
          <h3 class="cityCardName text-uppercase">greece</h3>
        </a>
      </div>
      <div class="cityCard column">
        <a href="#">
          <img alt="japan" src="{% static 'images/japan.jpg' %}">
          <h3 class="cityCardName text-uppercase">japan</h3>
        </a>
        <a href="#">
          <img alt="morocco" src="{% static 'images/cities/morocco.jpg' %}">
          <h3 class="cityCardName text-uppercase">morocco</h3>
        </a>
      </div>
      <div class="cityCard column">
        <a href="#">
          <img alt="indonesia" src="{% static 'images/bali.jpeg' %}">
          <h3 class="cityCardName text-uppercase">indonesia</h3>
        </a>
        <a href="#">
          <img alt="iceland" src="{% static 'images/cities/iceland.jpg' %}">
          <h3 class="cityCardName text-uppercase">iceland</h3>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %} 