{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class= "container-fluid text-center pt-5">
  <h1>Profile Page</h1>
</div>

<div class= "container-fluid text-center">
  <div class= "row">
    <div class= "col-xl-6">
      <div class="card pt-4">
        <div class="card-title">
          <h2>Articles</h2>
        </div>
        <div class="card-body">
          <ul class="good-bye-padding">
          {% for article in articles %}
          <li class="article-lists"><a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></li>
          {% empty %}
            <li class="article-lists">No articles have been added yet.</li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class= "col-xl-6">
      <div class="card pt-4">
        <div class="card-title">
          <h2>Profile</h2>
        </div>
        <div class="card-top">
          {% comment %} Author Pic: <img src="{{ img.image.url }}" > {% endcomment %}
        </div>
        <div class="card-body">
          <div>
            <span>Username: {{ request.user }}</span>
          </div>
          <div>
            <span>City: {{ user.author.city }}</span>
          </div>
          <div>
            <span>Joined on: {{ user.author.joined_on }}</span>
          </div>
          <a href="{% url 'author_edit' user.id %}" method="POST">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %} 