{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="author-container container-fluid mt-5 px-4">
  <div class="container-fluid">
    <div class="row">
      <div class="profile-sidebar px-0 my-5 bg-light rounded col-lg-2 text-center">
        {% if request.user.author.imageURL.url != NULL %}
        <img src="{{ request.user.author.imageURL.url }}" class="img-fluid mt-4 profile-pic-header">
        {% else %}
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" class="img-fluid profile-pic-header">
        {% endif %}
        <h3 class="mt-2">{{user.username}}</h3>
        <ul class="profile-nav w-100 nav nav-tabs">
          <li class="active tab-header py-2 px-2"><a data-toggle="tab" id="tab-id" href="#home">My Articles</a></li>
          <li class="tab-header py-2 px-2"><a data-toggle="tab" id="tab-id" href="#profile">Profile Details</a></li>
          <li class=" py-2 px-2"><a class="text-danger" href="{% url 'logout' %}">Log Out</a></li>
        </ul>
      </div>  
      <div class="col-lg-10">
        <div class="tab-content ml-4">
          <div id="home" class="tab-pane fade in active">
            <div class="row justify-content-center">
              <div class="article-list">
                <div class="article-list-card px-5 py-5 card-body mt-3 h-100 rounded">
                  <h2 class="article-list-header">My Articles</h2>
                  <ul class="good-bye-padding">
                  {% for article in articles %}
                  <li class="article-lists ml-5"><a class="h5 text-info" href="{% url 'article_detail' article.id %}">{{ article.title }}</a> - an article about <u>{{ article.location.location_name}}</u> <span class="text-muted float-right mr-4"> Created on {{ article.created_on }}</span></li>
                  {% empty %}
                    <li class="article-lists">No articles have been added yet.</li>
                  {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div id="profile" class="tab-pane fade">
            <div class="article-list-card text-center card-body mt-3 h-100 rounded">
                <h2>Profile</h2>
                <div class="my-4">
                  <h4 class="text-info">Username</h4>
                  <span class="h5"> <u>{{ request.user }}</u></span>
                </div>
                <div class="my-4">
                  <h4 class="text-info">Dream Destination</h4>
                  <span class="h5"><u>{{ user.author.location.location_name }}</u></span>
                </div>
                <div class="my-4">
                  <span class="text-muted">Joined on: {{ user.author.joined_on }}</span>
                </div>
                <a class="edit-details h5 text-info text-uppercase" href="{% url 'author_edit' user.id %}" method="POST"><i class="far fa-edit"></i>Edit Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %} 