{% extends 'base.html' %}
{% block content %}

<h1>This is the Signup</h1>

{% if error_message %}
  <p>{{ error_message }}</p>

{% endif %}

<form method="POST" action="{% url 'signup' %}">
  {% csrf_token %}

    <div class="input-group mb-3">
      <input type="text" name="username" placeholder = "username" required>
    </div>
    <div class="input-group mb-2">
      <input type="password" name="password1" placeholder = "password1" required>
    </div>
    <div class="input-group mb-2">
      <input type="password" name="password2" placeholder = "password2" required>
    </div>
    <div class="d-flex justify-content-center mt-3">
      <input type="submit" class="signup" value="signup">
    </div>

</form>

{% endblock content %}