/******************************/
/* Fonts Used in Landing Page */
/******************************/
/* font-family: 'Josefin Slab', serif;
font-family: 'Lato', sans-serif; */

/******************/
/* Global Styling */
/******************/
body, html {
    background: #e9ecef;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    color: #000 !important;
    text-transform: lowercase;
    font-size: 2rem;
}

label {
    margin-bottom: none !important;
}

/******************/
/* Navbar Styling */
/******************/
.navbar {
    background: #e9ecef; 
    padding: 2rem 3.5rem 0 3.5rem !important;
    font-family: 'Josefin Slab', serif;
}


/**************************/
/* Home ModalMenu Overlay */
/**************************/
/* Referenced https://codingflag.blogspot.com/2020/09/create-responsive-animated-fullscreen-navigation-menu-using-html-css-and-javascript.html */
.homeNav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 245, .95);
    z-index: 200;
    clip-path: circle(45px at 52% 50px);
    transition:all 500ms ease-in-out;
}
.homeNav.active {
    clip-path: circle(75%);
}
.homeNav .nav-logo {
    position:absolute;
    top: 20px;
    left: 50%;
    width:50px;
    height:50px;
    border-radius: 50%;
    cursor: pointer;
}
.homeNav .nav-logo span {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    height: 2px;
    background:#f5f5f5;
    transition: all 200ms ease-in-out;
}
.homeNav .nav-logo span:nth-child(1) {
    top: 30%;
}
.homeNav .nav-logo span:nth-child(2) {
    top: 50%;
}
.homeNav .nav-logo span:nth-child(3) {
    top: 70%;
}

.homeNav .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Lato', sans-serif !important;
}
.homeNav .links a {
    position: relative;
    display: inline-block;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color:#000000 !important;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.homeNav .links a:after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    height :2px;
    width: 0%;
    background:rgb(133, 225, 245);
    transition: all 300ms ease-in-out;
}
.homeNav .links a:hover:after {
    width: 100%;
}


/**************************/
/*  Cities Index Styling  */
/**************************/
.search {
    background-image: url("/static/images/indonesia.f9bbc086303a.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    height: 87.5vh !important;
    margin-bottom: 40px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.search-content {
    width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 250px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    justify-content: center;
}

.search-header {
    min-inline-size: -webkit-fill-available;
}

.search-bar-container {
    display: flex;
    justify-content: center;
}

select#location_id {
    text-align-last: center !important;
    color: #fff;
    background-color: transparent;
}


.btn-outline-info {
    color: #fff !important;
    border-color: transparent;
    background-color: rgba(111, 170, 150, .8) !important;
    border: none !important;
    width: -webkit-fill-available;
}

.btn-outline-info:hover {
    color: #fff !important;
    background-color: #7FFED4 !important;
    border-color: #7FFED4 !important;
}

.scroll-indicator {
    position: absolute;
    bottom: 10%;
}

.scroll-arrow {
    color: white;
    position: absolute;
    bottom: 5%;
}

.search-span {
    letter-spacing: 2px;
}

#wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.exploreGrid {
    margin: 0;
    padding-bottom: 60px;
}

.cityRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.cityCard {
    flex: 25%;
    max-width: 33.3%;
    padding: 0 4px;
  }

.cityCard img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}

.exploreGrid h1 {
    padding-bottom: 40px;
    text-align: center;
}

.cityCard h3 {
    letter-spacing: 1px;
    color: black;
}

.cityCardName {
    background-color: white;
    position: relative;
    display: inline-block;
    margin-top: -80px;
    padding: 30px;
}

.good-bye-padding {
    padding-inline-start: 0 !important;
}

li.article-lists {
    list-style: none !important;
    padding-left: 0;
}

.small-a {
    font-size: 1rem !important;
}